div.container.text-center{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10vh 0;
}

.card{
  padding: 5px 15px;
}

@media (min-width: 768px){
  div.container.text-center{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}